body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("background.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

#home {
    position: absolute;
    top: 2%;
    left: 2%;
    display: inline-block;
}

#home2 {
    position: absolute;
    top: 1%;
    left: 5%;
    display: inline-block;
}

.text {
    font-family: "Arial", Times, serif;
    font-style: oblique;
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}



#fill {
    position: absolute;
    top: 15%;
    left: 42%;
    display: inline-block;
}

#score {
    position: absolute;
    top: 20%;
    left: 42%;
    display: inline-block;
}

#total {
    position: absolute;
    top: 20%;
    left: 50%;
    display: inline-block;
}

#info {
    position: absolute;
    top: 25%;
    left: 40%;
    display: inline-block;
}

#addField {
    position: absolute;
    top: 20%;
    left: 70%;
    display: inline-block;
}

#submitBtn {
    position: absolute;
    top: 30%;
    left: 55%;
    display: inline-block;
}

